# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Entornos Virtuales
.env/
.venv/
venv/
env/

# Archivos de dependencias y configuraciones locales
poetry.lock
*.log

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Jupyter Notebook Metadata
.ipynb_checkpoints/

# Archivos sensibles
*.env
